body {
  margin: 0;
  font-family: Helvetica, Verdana, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  /* color: rgb(0,0,0); */
  color: white;
  /* background: rgb(241,244,248); */
  background: #304040; /* Градиент фона */
}

nav { /* Навігація */
  position: fixed; /* Фіксуємо */
  /* Робимо на весь екран */
  width: 100%;
  top: 0;
  left: 0;
  background: #04202C;
  border-bottom: 1px solid black;
}

header, main, footer {
  margin: 10px;
  max-width: 1800px;
}

hr {
  color: white;
}

.header-main-footer {
  margin-left: auto;
  margin-right: auto;
}

aside {
  float: left;
  padding: 5px;
  padding-top: 70px;
  font-size: 15px;
  /* color: rgb(241,244,248); */
  
  /* height: 3200px; */

  background: #04202C;
  border-right: 1px solid black;
}
 
aside ul {
  padding-left: 20px;
}

aside li {
  padding: 2px;
}

aside a {
  /* color: rgb(241,244,248); */
  line-height: 10px;
}

aside a:hover {
  text-decoration: underline;
}

.main-div {
  display: flex;
}

article {
  margin-right: 240px;
  display: block;
}

header {
  margin-top: 100px;
  text-align: center;
  border: 1px solid white;
}

footer {
  font-size: 12px;
  text-align: center;
}

.footer-link:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
  font-family: 'Verdana', sans-serif;
}

.header-main-footer img {
  border-radius: 10px;
}

a {
  color: #c9d1c8;
  text-decoration: none; /* Видаляємо підкреслення для силок */
}

.menu-main {
  list-style: none; /* Видаляємо крапки збоку списку */
  margin: 0; /* Убираємо дефолтний отступ */
  padding: 0;
}

/* Для ГЛАВНАЯ (і всі, що зліва лого) */
.menu-main .left {
  float: left;
}

/* Для GITHUB (і всі, що зправа лого) */
.menu-main .right {
  float: right;
}

.logo { /* Налаштування лого */
  position: absolute; /* Центруємо */
  /* Робимо посередині */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Вирівнюємо логотип */
}

.menu-main a { /* Налаштування для силок в меню */
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  /* color: rgb(241,244,248); */
  color: white;
}

.menu-main a:hover { /* Відображення кнопки при наведенні */
  background: rgba(0, 0, 0, .5);
  transition: background 1s;
}
.menu-main a:not(:hover) { /* Відображення кнопки при не наведенні */
  background: rgba(0, 0, 0, .0);
  transition: background 1s;
}

.logo:hover { /* Налаштування лого при наведенні */
  padding-bottom: 5px;
}

.main-img {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 25px;
  float: left;
}

.row {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}

.row .absolute {
  position: absolute;
  margin: 0;
  margin-right: 10px;
  top: 0;
  right: 0;
}




.container {
  width: 100%;
  text-align: center;
}

.container .left {
  float: left;
  width: 30%;
}

.container .center {
  display: inline-block;
  width: 30%;
}

.container .right {
  float: right;
  width: 30%;
}

.table-div {
  display: flex;
  flex-direction: column;
}

/*********************************************************************/

@media (max-width: 700px) { /* Адаптація для телефонів (посля 700 до 401) */
  aside {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .header-main-footer {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) { /* Адаптація для телефонів (посля 400 до 251) */
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  .menu-main li {
    float: none;
    display: inline-block;
  }

  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }

  .table-div {
    max-width: 100%;
    height: auto;
  }
  .main-div {
    padding-top: 60px;
  }
}

@media (max-width: 250px) { /* Адаптація для телефонів (після 250) */
  .main-div {
    padding-top: 120px;
  }
  .menu-main li {
    display: block;
  }
}