/*=============================================================================*/

body {
  width: 1900px; /* Указываем ширину*/

  /* Для настройки отступов тела сайта */
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  font-size: 20px; /* Дэфолтный размер текста */
  color: #c9d1c8; /* Цвет обычного текста */
  text-shadow: 0 0 10px #000; /* Тень текста */

  background: linear-gradient(170deg, #04202C, #304040); /* Градиент фона */
}

/*=============================================================================*/

header {
  margin-top: 90px;
}

main {
  border-top: 0 solid;
}

footer {
  text-align: center;
  font-size: 15px;
}

/*=============================================================================*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*=============================================================================*/

h1 {
  text-align: center;
}

a {
  color: #5b7065;
  text-decoration: none;
  /* Убрать подчёркивание ссылки */
}

/*=============================================================================*/

.logo {
  margin: 10px;
  margin-left: 20px;
  margin-right: 15px;
}

.menu-main {
  list-style: none;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  top: 0;
  position: fixed;
  text-align: center;

  background: #04202C;
  width: 1915px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

/* Ровняем по горизонтали с левого края */
.left-item {
  float: left;
  text-align: center;
}

.menu-main a {
  /* Параметры для нашего текста */
  display: block;
  line-height: 80px;
  padding: 0 20px;

  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #c9d1c8;
}

.menu-main a:hover {
  /* Когда наводим на него мышкой */
  background: rgba(0, 0, 0, .3);
}

/*=============================================================================*/

.table {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

td {
  padding: 15px;
}

/*=============================================================================*/